# Security Warning! Do not commit this file to any VCS!
# This is a local file to speed up development process,
# so you don't have to change your environment variables.
#
# This is not applied to `.env.template`!
# Template files must be committed to the VCS, but must not contain
# any secret values.


# === Flask general ===

ENV=
DEBUG=
TESTING=
PROPAGATE_EXCEPTIONS=
PRESERVE_CONTEXT_ON_EXCEPTION=
TRAP_HTTP_EXCEPTIONS=
TRAP_BAD_REQUEST_ERRORS=
SECRET_KEY=


# === Flask server ===

SERVER_NAME=
APPLICATION_ROOT=
PREFERRED_URL_SCHEME=
USE_X_SENDFILE=
SEND_FILE_MAX_AGE_DEFAULT=
MAX_CONTENT_LENGTH=
TEMPLATES_AUTO_RELOAD=
EXPLAIN_TEMPLATE_LOADING=
MAX_COOKIE_SIZE=


# === Flask session ===

SESSION_COOKIE_NAME=
SESSION_COOKIE_DOMAIN=
SESSION_COOKIE_PATH=
SESSION_COOKIE_HTTPONLY=
SESSION_COOKIE_SECURE=
SESSION_COOKIE_SAMESITE=
PERMANENT_SESSION_LIFETIME=
SESSION_REFRESH_EACH_REQUEST=


# === Flask JSON ===

JSON_AS_ASCII=
JSON_SORT_KEYS=
JSONIFY_PRETTYPRINT_REGULAR=
JSONIFY_MIMETYPE=


# === Flask Debug Toolbar ===

DEBUG_TB_ENABLED=
DEBUG_TB_HOSTS=
DEBUG_TB_INTERCEPT_REDIRECTS=
DEBUG_TB_PANELS=
DEBUG_TB_PROFILER_ENABLED=
DEBUG_TB_TEMPLATE_EDITOR_ENABLED=


# === SQL-Alchemy ===

DATABASE_URL=


# === Sentry ===

SENTRY_DSN=


# === Exceptional ===

EXCEPTIONAL_API_KEY=


# === Flask-GoogleFed ===

GOOGLE_DOMAIN=


# === Celery w/ RabbitMQ or w/ RedisCloud ===

RABBITMQ_URL=
REDISCLOUD_URL=
REDISCLOUD_URL=


# === Heroku Redis or Redis To Go ===

REDIS_URL=
REDISTOGO_URL=


# === Mongolab, MongoHQ and mLab MongoHQ ===

MONGOLAB_URI=
MONGOHQ_URL=
MONGODB_URI=


# === Cloudant ===

CLOUDANT_URL=


# === Memcachier ===

MEMCACHIER_SERVERS=
MEMCACHIER_USERNAME=
MEMCACHIER_PASSWORD=
